<form action="/login" method="GET" class="container-sm">
    
    <h2>Pantalla de Administración</h2>
    <h4>Añadir una cine</h4>
    <p></p>
    
    <p>Cine</p>
    <input class="form-control" type="text" >
    <p></p>
    
    <button type="button" class="btn btn-primary">Añadir</button>
    <p></p>
    
</form>