    		{{> header this}}
    <h2>Pantalla de Administración</h2>
    <h4>En esta pestaña podrás añadir información a la base de datos de la página</h4>
    <p></p>
    
    <form action="/adminpelicula" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Añadir una película</button>
            </div>
    </form>
    
    <form action="/admincine" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Añadir un cine</button>
            </div>
    </form>
    
    <form action="/adminhorario" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Añadir un horario</button>
            </div>
    </form>
    
