<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/butacas.css" />
    <script src="/js/butacas.js" defer></script>
    <title>Booking cinema seats</title>
  </head>
  <body>

    <div class="ContainerButaca">
      <div class="ContainerSelectButaca">
        <button class="noSelect" id="1" onclick="selectButaca(this, 1)">Butaca 1</button>
        <button class="noSelect" id="2" onclick="selectButaca(this, 2)">Butaca 2</button>
        <button class="noSelect" id="3" onclick="selectButaca(this, 3)">Butaca 3</button>
        <button class="noSelect" id="4" onclick="selectButaca(this, 4)">Butaca 4</button>
        <button class="noSelect" id="5" onclick="selectButaca(this, 5)">Butaca 5</button>
        <button class="noSelect" id="6" onclick="selectButaca(this, 6)">Butaca 6</button>
      </div>
      <div>
        <button onclick="selectButaca2()">Siguente</button>
      </div>
    </div>
  </body>
</html>