{{> header this}}
<div class="containerReserva">
  <h2>Usted esta apunto de adquirir su entrada</h2>
  <p>{{entrada.Pelicula}}</p>
  <p>{{entrada.Cine}}</p>
  <p>{{entrada.Hora}}</p>
  <p>Usted desea?</p>
  <div class="contaienrButton">
    <button class="ButtonsConfirmar">Confirmar</button>
    <button class="ButtonsReservar">Reservar</button>
  </div>
</div>