 {{> header this}}
    <h2>Infomarcion de tu cuenta</h2>
    <h4>En esta pestaña podrás modificar o eliminar tus revervas, y ver tus entradas confirmadas</h4>
    <h4>Sesion Actual:{{!-- {{Nombre usuario} --}}</h4>
    <p></p>
    
    <form action="/usuarioreservas" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Entradas reservadas</button>
            </div>
    </form>
    
    <form action="/usuarioconfirmadas" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Entradas confirmadas</button>
            </div>
    </form>
    