.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}

.noSelect {
  border: none;
  border: 1px solid #dfd8ca;
  padding: 1em;
  background-color: #dfd8ca;
  margin-left: 1em;
}

.Select {
  border: none;
  border: 1px solid #105652;
  padding: 1em;
  background-color: #105652;
  margin-left: 1em;
}

.ContainerButaca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10em;
}
.ContainerSelectButaca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 5em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popupBody {
  width: 46%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  position: relative;
  margin: 20% auto;
  transition: all 5s ease-in-out;
}

#cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  fotn-weight: bold;
  text-decoration: none;
  color: #f00;
  transition: all 200ms;
}
